.grp-1-banner {
    width: 100vw;
    height: 500px;
    background-position: center;
    background-size: cover;

}

.waves-container {
    position: relative;
    bottom: 150px;
}

.fondo {
  position: relative;
  z-index: 1;
}

.sotto{ position:absolute; z-index:0; }

/* Animation Simple CSS Waves Animation https://codepen.io/goodkatz/pen/YbXqEV*/

.waves {
  position:relative;
  display: block;
  width: 100%;
  height:150px;
  margin:0 0 -1px 0;
}
.parallax > use {
  animation: move-forever 50s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 14s;
}
.parallax.parallaxsopra > use:nth-child(1) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax.parallaxsopra > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 26s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 40s;
}
@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/*prevent many large-by-comparison ripples by shrinking the height*/

@media (max-width: 50em) {
  .waves {
    height: 17vw;
  }
}