<div class="navbar-steam">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://steamstore-a.akamaihd.net/public/shared/images/responsive/header_logo.png" %>
  <% end %>

    <h1>MAGASIN</h1>
    <h1>COMMUNAUTE</h1>
    <h1>A PROPOS</h1>
    <h1>SUPPORT</h1>

  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "hello" %>
  <% else %>
    <li>
      <%= link_to "Login", new_user_session_path, class: "hello" %>
    </li>
  <% end %>
</div>

