<div id="groupe-4">
    <h1>Groupe 4</h1>

    <div id="150" class="elements-container">
        <img class="item align-left slide-in" src="https://i.ytimg.com/vi/uODKrZnGk7g/maxresdefault.jpg" alt="">
        <img class="item align-right slide-in" src="https://images.complex.com/complex/images/c_limit,dpr_auto,q_90,w_720/fl_lossy,pg_1/qi3gqverqthxatrgu18v/fortnite-logo2" alt="">
    </div>
    <div id="350" class="elements-container">
        <img class="item align-left slide-in" src="https://i.ytimg.com/vi/uODKrZnGk7g/maxresdefault.jpg" alt="">
        <img class="item align-right slide-in" src="https://images.complex.com/complex/images/c_limit,dpr_auto,q_90,w_720/fl_lossy,pg_1/qi3gqverqthxatrgu18v/fortnite-logo2" alt="">
    </div>
</div>