<div class="grp-6-main-container">
    <h1>Groupe 6</h1>

    <div class="grp-6-container">
            <div class="buttons">
                <button id="left-scroll" type="button" class="btn btn-primary"> < </button>
                <button id="right-scroll" type="button" class="btn btn-primary"> > </button>
            </div>
            <div class="grp-6-caroussel">
            <img src="https://i.ytimg.com/vi/uODKrZnGk7g/maxresdefault.jpg" alt="">
            <img src="https://images.complex.com/complex/images/c_limit,dpr_auto,q_90,w_720/fl_lossy,pg_1/qi3gqverqthxatrgu18v/fortnite-logo2" alt="">
            <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D2000%252C2000%252Cshrink%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2018-12%252Fcb7c41a0-f7cb-11e8-b3ff-4bc6a0e52d77%26client%3Da1acac3e1b3290917d92%26signature%3D76300401c5cb3cf3d626b9729722fd2406d5ec60&client=amp-blogside-v2&signature=44d3cb3fc02f657f6ff83d225400358e15ff5aaa" alt="">
            <img src="https://images.spot.im/v1/production/ruedveklqia51z6jxkk0" alt=""> 
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/359550/capsule_616x353.jpg?t=1568227548" alt="">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/346110/capsule_616x353.jpg?t=1560889311" alt="">
        </div>
    </div>
</div>