<h1>Groupe 2</h1>

<button id="grp-2-btn" type="button" class="btn btn-primary">Abonne-toi</button>

<div class="grp-2-image-container">
    <img src="https://rdsimages.cookieless.ca/polopoly_fs/1.6288143.1533904348!/img/httpImage/image.png_gen/derivatives/main-xxxhdpi/image.png" alt="no man's sky">
    <img class='grp-2-img' src="https://media.giphy.com/media/ddHhhUBn25cuQ/giphy.gif" alt="celebration gif">
</div>