<h1>Groupe 3</h1>

<div class="grp-3-images-wrapper">
    <div class="grp-3-text">
        <h4>Jeu n-3</h4>
        <h5>Sous-titre du jeu n-3</h5>
    </div>
    <div class="inner-images">
        <div class="grp-3-image" id="image-1"></div>
        <div class="grp-3-image" id="image-2"></div>
        <div class="grp-3-image" id="image-3"></div>
        <div class="grp-3-image" id="image-4"></div>
    </div>
</div>